
<div class="container">
    <div class="row">
        <div class="col">  
            <!-- Table -->
            <section class="results">
            <h2>Purchase Materials Table</h2>
                <table class="table table-bordered table-dark table-md">
                    <thead>
                    <tr>
                        <th>Place</th>
                        <th>Division</th>
                        <th>Opec</th>
                        <th>Item No.</th>
                        <th>Item Name</th>
                        <th>On Hand</th>
                        <th>Main Warehouse</th>
                        <th>Main Location</th>
                    </tr>
                    </thead>
            
                    <tbody> 
                        <tr *ngFor ="let purchasing of purchasingList">
                            <td style="text-align:center">{{purchasing!.place}}</td>
                            <td style="text-align:center">{{purchasing!.division}}</td>
                            <td style="text-align:center">{{purchasing!.opec}}</td>
                            <td style="text-align:center">{{purchasing!.itemNo}}</td>
                            <td style="text-align:center">{{purchasing!.itemName}}</td>
                            <td style="text-align:center">{{purchasing!.onHand}}</td>
                            <td style="text-align:center">{{purchasing!.mainWarehouse}}</td>
                            <td style="text-align:center">{{purchasing!.mainLocation}}</td>
                            <!-- <app-housing-location [purchasing]="purchasing"></app-housing-location> -->
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <div class="col">
            <h2 class="section-heading">Add New Purchase Materials</h2>
            <form [formGroup]="applyForm" (submit)="Submit()">
                <div class="form-group-row">
                    <div class="form group col-10">
                        <label for="place" class="form-label">Place</label>
                        <input type="text" class="form-control" id="place" name="place" formControlName="place"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="division" class="form-label">Division</label>
                        <input type="text"class="form-control"id="division"name="division"formControlName="division"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="opec" class="form-label">Opec</label>
                        <input type="text" class="form-control" id="opec" name="opec" formControlName="opec"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="item-no" class="form-label">Item No</label>
                        <input type="text" class="form-control" id="item-no" name="item-no" formControlName="itemNo"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="item-name" class="form-label">Item Name</label>
                        <input type="text" class="form-control" id="item-name" name="item-name" formControlName="itemName"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="on-hand" class="form-label">On Hand</label>
                        <input type="text" class="form-control" id="on-hand" name="on-hand" formControlName="onHand"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="main-warehouse" class="form-label">Main Warehouse</label>
                        <input type="text"  class="form-control" id="main-warhouse" name="main-warhouse" formControlName="mainWarehouse"/>
                    </div>
        
                    <div class="form group col-10">
                        <label for="main-location" class="form-label">Main Location</label>
                        <input type="text" class="form-control" id="main-location" name="main-location" formControlName="mainLocation"/>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
