table, th, td {
    border:1px solid black;
  }
  
  input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  .form-group {
    color: var(--primary-color);
  }
  .container-fluid {
    padding: 25px 50px;
    color: var(--primary-color);
  }
  
  